* {
    box-sizing: border-box;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background: #bdbdbd;
    border: 2px solid #333;
    padding: 10px;
}

.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 70% 30%;
    grid-template-rows: 10% 90%;
    grid-template-areas: 'box-1 box-1'
    'container-2 box-5';
}

.container-2{
    display: grid;
    grid-area: container-2;
    align-items: stretch;
    justify-items: stretch;
    grid-template-columns: 100%;
    grid-template-rows: 60% 30% 10%;
    grid-template-areas: 'box-2'
    'box-3'
    'box-4';
}

.box-1{
    grid-area: box-1;
}

.box-2{
    grid-area: box-2;
}

.box-3{
    grid-area: box-3;
}

.box-4{
    grid-area: box-4;
}

.box-5{
    grid-area: box-5;
}

.gutter {
    background-color: #eee;
    background-repeat: no-repeat;
    background-position: 50%;
}

.gutter.gutter-vertical {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAFAQMAAABo7865AAAABlBMVEVHcEzMzMzyAv2sAAAAAXRSTlMAQObYZgAAABBJREFUeF5jOAMEEAIEEFwAn3kMwcB6I2AAAAAASUVORK5CYII=');
    cursor: row-resize;
}